.information__title {
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  color: $white;
}

.information__description {
  font-size: 20px;
  line-height: 32px;
  color: $white;
  opacity: 0.8;
}
