.page-footer {
  padding-top: 19px;
  padding-bottom: 98px;
}

.page-footer__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.page-footer__item {
  width: 50%;

  a {
    position: relative;
    display: block;
    padding-right: 15px;
    padding-left: 113px;

    line-height: 22px;
    font-weight: 400;
    color: rgba($black, 0.5);

    outline: none;

    &:hover,
    &:focus {
      color: $light-green;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &--mail {
    text-align: right;

    a {
      &::before {
        position: absolute;
        content: "";

        width: 26px;
        height: 20px;

        background-image: url("../img/mail.svg");
        background-repeat: no-repeat;

        top: 1px;
        left: 197px;
      }
    }
  }

  &--phone {
    text-align: left;

    a {
      &::before {
        position: absolute;
        content: "";

        width: 19px;
        height: 25px;

        background-image: url("../img/phone.svg");
        background-repeat: no-repeat;

        top: -1px;
        left: 76px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding-top: 2px;
    padding-bottom: 55px;
  }

  .page-footer__list {
    width: 698px;

    @include margin;
  }

  .page-footer__item {
    &--mail {
      a {
        &::before {
          left: 70px;
        }
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .page-footer__list {
    width: 90%;
    flex-direction: column;
  }

  .page-footer__item {
    width: 288px;

    @include margin;
    padding-bottom: 24px;

    &--mail {
      a {
        padding-left: 45px;

        &::before {
          left: 5px;
        }
      }
    }

    &--phone {
      a {
        padding-left: 72px;

        &::before {
          left: 35px;
        }
      }
    }

    a {
      text-align: left;
    }
  }
}
