.page-footer {
  padding-top: 19px;
  padding-bottom: 98px;
}

.page-footer__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.page-footer__item {
  width: 50%;
  display: flex;
  justify-content: flex-end;

  a {
    display: block;
    padding-left: 14px;

    line-height: 22px;
    font-weight: 400;
    color: rgba($black, 0.5);

    outline: none;

    &:hover,
    &:focus {
      color: $light-green;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &--mail {
    a {
      padding-right: 15px;
    }
  }

  &--phone {
    a {
      padding-right: 214px;
    }
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding-top: 2px;
    padding-bottom: 55px;
  }

  .page-footer__list {
    width: 698px;

    @include margin;
  }

  .page-footer__item {
    &--mail {
      a {
        padding-left: 16px;
        padding-right: 11px;
      }
    }

    &--phone {
      a {
        padding-left: 15px;
        padding-right: 79px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .page-footer__list {
    width: auto;
    flex-direction: column;
  }

  .page-footer__item {
    width: 288px;
    justify-content: flex-start;

    @include margin;
    padding-bottom: 24px;

    &--mail {
      svg {
        margin-left: 12px;
      }

      a {
        padding-left: 15px;
        padding-right: 0;
      }
    }

    &--phone {
      svg {
        margin-left: 43px;
      }

      a {
        padding-left: 14px;
        padding-right: 0;
      }
    }
  }
}
