$white: #ffffff;
$dark-white: #f6f7f9;
$link-bg: #f6f6f6;
$black: #000000;
$dark: #1c1c1c;
$title-color: #1f1f1f;
$light-green: #0ad9c6;
$video-bg: #131314;
$btn-close: #141517;
$nav-text: #48494d;
$border-form: #c9ccd4;

$tablet-width: 1023px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
